.ToDoSearch{
    align-self: center;
    justify-self: center;
    margin: 12px 0px 18px 0px;
    width: 65%;
    height: 45px;
    box-shadow: 1px 4px 16px #df8f45;
    border:none;

    background-color: #df8f45;
    
    border-radius: 20px;
    
    
    font-size: 1.3rem;

    color: white;
    font-weight: 600;
    
    
    text-align: center;

}

.ToDoSearch::placeholder{
    font-weight: 100;
    color: rgb(208, 208, 208);
}
.ToDoSearch:focus{
    outline-color: #df8f45;
}